body {
  background: #37383E;
  color: #eee;
}

.App {
  text-align: center;
}

.Choices {
  outline: none;
  border: 3px solid #eee;
  background: transparent;
  padding: 10px 20px;
  border-radius: 5px;
  color: #eee;
}

.Converts {
  display: flex;
  justify-content: space-around;
}

.Choice {
  margin-top: 50px;
}

.Choice input {
  padding-bottom: 20px;
  text-align: center;
  width: 11.9em;
  line-height: 50px;
  outline: none;
}

.Choice .Choices {
  border-radius: 1px;
  border-top: none;
  background: transparent;
}
